# Auto detect text files and perform LF normalization
* text=auto eol=lf

# Explicit syntax files
*.py text eol=lf
*.md text eol=lf
*.toml text eol=lf
*.yaml text eol=lf
*.yml text eol=lf
*.json text eol=lf
*.csv text eol=lf

# Binary files
*.png binary
*.jpg binary
*.jpeg binary
*.pt binary
*.pth binary
